
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.header {
  max-width: 1600px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.menu{
  display: block;
  position: absolute;
  width: 25%;
  top: 4rem;
  right: 4px;
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  border-top: 2px solid rgba(255,255,255, 0.5);
  border-left: 2px solid rgba(255,255,255, 0.5);
  border-bottom: 2px solid rgba(255,255,255, 0.5);
  backdrop-filter: blur(5px);
  height: 0px;
  transition: .6s;
  visibility: hidden;
  overflow-y: hidden;
  border-radius: 10px 0 0 10px;
  z-index: 1001;
 }

.menu a {
  font-family: 'Iceberg', cursive;
  font-size: 1.5rem;
  line-height: 1;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
}

.menu a:hover {
  color: #464646;
}

.btn-mobile {
  display: flex;
  padding: .5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

 #hamburger{
  border-top: 3px solid #ffffff;
  width: 30px;
}
 #hamburger::after, #hamburger::before{
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin-top: 5px;
  transition: .3s;
  position: relative;
} 

 #nav.active #hamburger {
  border-top-color:transparent ;
}

 #nav.active #hamburger::before{
  transform: rotate(135deg);
}

 #nav.active #hamburger::after{
  transform: rotate(-135deg);
  top: -7px;
}

 #nav.active .menu{
  height: 15rem;
  visibility: visible;
  overflow-y: auto;
}

 #nav.active .menu a{
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.37);
  z-index: 1001;
}


@media( max-width:750px) {
   .header {
    padding: 10px;
    gap: 20px;
   }
   .menu {
    width: 100%;
    border-radius: 0;
   }
}

@media (max-width: 600px){
  .header {
    margin: 0 auto;
  }
}