
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.header {
  max-width: 1600px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px){
  .header {
    justify-content: center;
    margin: 0 auto;
  }
}