
.introducao{
  max-width: 1200px;
  min-height: calc(100vh - 100px);
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(10, 10, 10);
  background-position: right;
}

.introducao video {
  position: absolute;
  right: 0;
  top: 1;
  object-fit:cover;
  width: 400px;
  padding-right: 3rem;
  height: 70vh;
}

.scroll-icon {
  position: relative;
  margin: .5em;
  width: 1rem;
  height: 2rem;
  border: .2em solid #fff;
  /* box-shadow: 0 16px 32px 10px rgba(106, 107, 119, 0.5); */
  border-radius: 2em;
}

.flex-2{
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  position: relative;
  display: flex;
  flex: 0 1 1200px;
  justify-content: flex-start;
  margin-top: 5rem;
}

.scroll-icon .wheel {
  position: absolute;
  left: 50%;
  top: 15%;
  width: .6em;
  height: .6em;
  background-color: #fff;
  transform: translate(-50%, 0);
  border-radius: .6em;
  animation: wheel 1s ease-in-out infinite;
}

@keyframes wheel {
  0% {
    transform: translate(-50%,0);
  }
  90%, 100% {
    transform: translate(-50%, 150%);
  }
}

.social-links {
	display: flex;
  justify-content: center;
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #333;
  background: rgba(255, 255, 255, 0.030);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 8px;
  border: 2px solid rgba( 255, 255, 255, 0.5 ); 
	margin: 5px;
	transition: 1s;
}

.social-btn span, a {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
  text-decoration: none;
  color: #fff;
}

.social-btn:hover {
	width: 150px;
	border-radius: 5px;
}

.social-btn:hover span, a {
	padding: 2px;
	width: max-content;
}

.flex-center, a {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 801px){
  .text img {
    width: 462px;
    height: 385px;
  }
  .introducao video {
    /* width: 370px; */
    padding: 1rem;
  }
}

@media (max-width: 600px){
  .text img {
    width: 412px;
    height: 335px;
  }
}

@media (max-width: 480px){
  .text img {
    width: 362px;
    height: 285px;
  }
  .flex-2 {
    gap: 60px;
    justify-content: flex-start;
  }
}

