
.sobre{
  position: relative;
  max-width: 1400px;
  padding: 20px 10px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  background: rgb(8, 8, 8);
}

.sobre-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-left: 5rem;
  max-width: 1000px;
} 

.photo {
  width: 240px;
  height: 360px;
  margin: 20px;
  border: 1px solid #a5a5a5;
}

.perfil {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
}

.perfil h1 {
  font-size: 4rem;
  font-family: 'Iceberg', cursive;
  padding: 1rem;
  text-decoration: 4px underline;
}

.perfil p {
  padding: 1rem;
  font-size: 1.3rem;
  font-family:'Courier New', Courier, monospace;
  color: #b3b3b3;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
}

.icons img {
  width: 52px;
  height: 52px;
  padding: 0 5px;
  filter: drop-shadow(5px 5px 4px #242424);
}



@media (max-width: 1021px){
  .perfil {
    width: 500px;
  } 
  .perfil h1{
    font-size: 2.5rem;
    padding: 0.5rem;
  }
  .perfil p {
    font-size: 1rem;
  }
  .photo {
    width: 180px;
    height: 260px;
    margin: 10px;
    border: 1px solid #a5a5a5;
  }
  .sobre-info {
    border-radius: 0 120px;
  }
}


@media (max-width: 620px){
  .sobre-info{
    margin: 1rem;
  }
  .perfil{
    max-width: 400px;
    align-items: center;
  }
  .perfil h1{
    font-size: 3rem;
  }
  .perfil p {
    font-size: 1.125rem;
  }
}

@media (max-width: 480px){
  .perfil{
    max-width: 300px;
  }
  .perfil h1{
    font-size: 2rem;
  }
}